<div class = "container">
    <div class="jumbotron">
        <h1>Investing Ka Search Engine</h1>
        <h3>Make better decisions the next time you Invest in stock</h3>

        <form class="form-inline">
            <div class="input-group">
              <input type="email" class="form-control" size="50" placeholder="Email Address" required>
              <div class="input-group-btn">
                <button type="button" class="btn btn-secondary" style="color:#4a4949">Subscribe</button>
              </div>
            </div>
        </form>
    </div>
</div>
